import os
_basedir = os.path.abspath(os.path.dirname(__file__))

DEBUG = False

USER_HEADER = 'X-Remote-User'

ADMINS = frozenset(['admin@example.com'])
SECRET_KEY = 'your-random-string-goes-here'

AWS_ACCESS_KEY_ID = ''
AWS_SECERET_ACCESS_KEY = ''
