# turn Flask debug mode on/off
DEBUG = True

# HTTP header from which the username is read
USER_HEADER = 'X-Remote-User'

# the secret key.  keep this really secret:
SECRET_KEY = 'your-random-string-goes-here'

# your AWS credentials
AWS_ACCESS_KEY_ID = ''
AWS_SECERET_ACCESS_KEY = ''

AWS_AVAILABILITY_ZONE = 'eu-west-1a'
AWS_SUBNET = 'subnet-123456'
AWS_SECURITY_GROUPS = 'sg-123456'