@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 140px;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 160px;
  }
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

dl {
 width:100%;
 overflow:hidden;
 padding: 5px;
}
dt {
 float:left;
 width:15%; /* adjust the width; make sure the total of both is 100% */

}
dd {
 float:left;
 width:85%; /* adjust the width; make sure the total of both is 100% */
}
