{% if images %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>AMI</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>State</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td>{{ image.name }}</td>
                    <td>{{ image.description }}</td>
                    <td>{{ image.tags.creator }}</td>
                    <td>{{ image.state|highlight_with_label }}</td>
                    <td>
                        <button type="button" class="btn btn-default" onClick="showDeleteImageDialog('{{ image.id }}');">Delete Image</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" onClick="showLaunchDialog('{{ image.id }}');">Launch Cluster</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-warning text-center" role="alert">No images found</div>
{% endif %}