<div class="col-lg-12">
    {% for stack_name,cluster in clusters.iteritems() %}
        <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> Stack: {{ stack_name }}
             <span style="float: right;">
                <button type="button" class="btn btn-xs btn-primary" onClick="showEditDialog('{{ cluster.group.name }}');">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                <button type="button" class="btn btn-xs btn-danger" onclick="showDeleteDialog('{{ cluster.stack_id }}');">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            </span>
        </div>
        <div class="panel-body">

            <div class="row">
                    <div class="col-lg-6">


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Tile Cluster Details
                            </div>

                            <div class="panel-body">
                                {{ cluster }}
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Instances
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body" id="cluster-instances-{{ cluster.group.name }}">
                                <img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" alt="Loading..." class="center" />

                            </div>

                        </div>

                    </div>
                </div>


            <div class="row">
                <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Tiles / minute
                            </div>

                            <div class="panel-body">
                                <div id="elb-stats-{{ cluster.elb.name }}" style="height: 250px;">
                                        <img id="loader-{{ cluster.elb.name }}" src="{{ url_for('static', filename='img/ajax-loader.gif') }}" alt="Loading..." class="center" />
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                CPU usage
                            </div>

                            <div class="panel-body">
                                <div id="cpu-stats-{{ cluster.group.name }}" style="height: 250px;">
                                        <img id="loader-{{ cluster.group.name }}" src="{{ url_for('static', filename='img/ajax-loader.gif') }}" alt="Loading..." class="center" />
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>
        <!-- /.panel-body -->
    {% endfor %}
</div>


{%  block javascript %}

<!-- Page-Level Plugin Scripts - Morris -->

<script type="application/javascript">

    // run the first time; all subsequent calls will take care of themselves
    {% for stack_name,cluster in clusters.iteritems() %}
        loadClusterInstances("{{ cluster.group.name }}");
        loadElbStats("{{ cluster.elb.name }}");
        loadCpuStats("{{ cluster.group.name }}");
    {% endfor %}

</script>

{% endblock %}