{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> Cluster Overview
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Creator</th>
                            <th>AMI</th>
                            <th>CPU Cores</th>
                            <th>Instance Type</th>
                            <th>Launch Time<th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cluster in clusters %}
                            <tr>
                                <td>{{ cluster.group.name }}</td>
                                <td></td>
                                <td>{{ cluster.launch_config.image_id }}</td>
                                <td></td>
                                <td>{{ cluster.launch_config.instance_type }}</td>
                                <td>{{ cluster.group.created_time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- /.table-responsive -->
            </div>
        </div>
        <!-- /.panel-body --> 
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Recent Autoscaling Events
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> New Comment
                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                    </span>
                </a>
            </div>
            <!-- /.list-group -->
            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
        </div>
    <!-- /.panel-body -->
    </div>
<!-- /.col-lg-4 -->
</div>
<!-- /.row -->
</div>

{% endblock %}
